body {
    background-color: green;
    margin: 0;
}
.header {
    padding: 20px;
    background: yellow;
    border-style: solid;
    border-color: black;
}
.wrapper {
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
}
.left_box{
    order:1;
    width: 320px;
    height: 350px;
}
.squares {
    width: 100%;
    transform: rotate(45deg);  
    transform-origin: center;
    margin-top: 5px;
}
.square {
    height: 130px;
    width: 130px;
    margin: auto;
    background-color: red;
    border-style: solid;
    border-color: black;
   margin-bottom:30px;
  }
.middle {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    order:2;
    @media screen and (min-width: 583px){
        order: 3;
     }
     @media screen and (min-width: 900px){
        
        order: 2;
     }
}
.equal {
    height: 90px;
    position: relative;   
 }
 .eq1, .eq2 {
    height: 10px;
    width: 100px;
    background-color: blue;
    margin: 15px;
    border-style: solid;
    border-color: black;
 } 
 .eq2 {
    margin-top: 30px;
 }

 .circle {
    height: 80px;
    width: 80px;
    background-color: #008080;
    border-radius: 50%;
    border-style: solid;
    border-color: black;
    margin: 5px;
  }
.right_box{
    width: 180px;
    order:3;
 
    @media screen and (min-width: 583px){
        order: 2;
     }
     @media screen and (min-width: 900px){
        order: 3;
     }
}
 .rectangle {
    
    width: 100px;
    height: 250px;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    border-style: solid;
    border-color: black;
    font-size: 20px;
    text-align: center;
    font-family: Arial;
    font-weight: 600;
    background-color: blue;

    @media screen and (min-width: 583px) {
        background-color: red;
    }

    @media screen and (min-width: 900px) {
        background-color: #FFFFFF;
    }
    
 }